.row {
    margin: 0px;
}

#mainContainer {
    padding: 0px;
}

#asideMenu {
    height: 100%;
}

#mapDiv {
    height: 100%;
}

#mapContainer {
    padding: 0px;
}

#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 130px;
}

#homeButtonDiv {
    display: block;
    position: absolute;
    z-index: 30;
    top: 90px;
    left: 35px;
}

.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.panel-heading span {
    margin-top: -7px;
    font-size: 15px;
    margin-right: -12px;
}

#drawPanel {
    position: absolute;
    z-index: 1;
    display: none;
    opacity: 1;
    left: auto;
    right: 80px;
    bottom: auto;
    top: 60px;
    width: auto;
    height: auto;
}

#legendPanel {
    position: absolute;
    z-index: 1;
    display: block;
    opacity: 1;
    left: auto;
    right: 60px;
    bottom: auto;
    top: 60px;
    width: 250px;
    height: auto;
}

#analysisWidgetDiv {
    position: absolute;
    z-index: 1;
    display: none;
    opacity: 1;
    right: 5%;
    bottom: 0px;
    width: 60%;
    height: 300px;
}

#analysisResult {
    overflow-y: scroll;
    height: 250px;
}

#info {
    bottom: 20px;
    color: #444;
    height: auto;
    font-family: arial;
    left: 20px;
    margin: 5px;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 200px;
    z-index: 40;
}


/* Change color of icons to match bar chart and selection symbol */


/*.esriPopup.dark div.titleButton,
.esriPopup.dark div.titlePane .title,
.esriPopup.dark div.actionsPane .action {
    color: #A4CE67;
}


 Additional customizations 

.esriPopup.dark .esriPopupWrapper {
    border: none;
}

.esriPopup .contentPane {
    text-align: center;
}

.esriViewPopup .gallery {
    margin: 0 auto;
}*/