			<div class="container">
				<div class="row">
					<div class="col-xs-8 well col-xs-offset-2" >
						<h2>About VEGAS</h2>
						<div>
							<p>
								VEGAS is a website that enables both technical and nontechnical users to gain new insights and realize benefits from large, complex or diverse data. It is demographic data visualization website designed to engage users through dynamic maps and customizable reports. vegas.com helps the public engage with society and science.
							</p>
						</div>
						<div>
							<h3>Data Resource</h3>
							<ul>
								<li>Population</li>
								<li>Health care centers</li>
								<li>Schools</li>
							</ul>
						</div>
						<div>
							<h3>Tools and Features</h3>
							<ul>
								<li>Visualize data</li>
								<li>Search</li>
								<li>Export and Share maps and reports</li>
							</ul>
						</div>
						<div>
							<h3>Developers</h3>
							<ul>
								<li>Natnael Addis</li>
								<li>Mubarek Mulugeta</li>
								<li>Carlos Selamtaw</li>
								<li>Hilina Haftu</li>
							</ul>
						</div>
					</div>					
				</div>
			</div>	