			<div class="container-fluid" style="height: 100%">
				<div class="row">
					<div class="col-xs-6 col-sm-4">
						<div class="well">
							<h3>Map</h3>
							<ul>
								<li><a href="">Navigation</a></li>
								<li><a href="">Search</a></li>
								<li><a href="">Browse by category</a></li>
								<li><a href="">Changing(show/hide) Layers</a></li>
								<li><a href="">Exporting map as image</a></li>
								<li><a href="">Sharing map on social sites</a></li>
							</ul>
							<h3>Reoprt</h3>
							<ul>
								<li><a href="">Navigation</a></li>
								<li><a href="">Custemizing report</a></li>
								<li><a href="">Exporting map as image</a></li>
								<li><a href="">Sharing map on social sites</a></li>
							</ul>							
						</div>
					</div>
					<div class="col-xs-6 col-sm-8" >
						
						<div class="well">
							<h2>Help</h2>
							<p>
								VEGAS provides easy-to-use tools for visual exploration of demographic information. With these interactive online tools, users can examine change over time and understand the patterns behind the raw numbers. Datasets include the Addis Ababa population, Helth care centers and Schools.<br>
								<strong>Get Started Now:</strong><br>
								<div>
									<a ui-sref="home">Maps</a><br>
									<p>View map that explore Addis Ababa's population, health care and schools.</p>									
								</div>

								<div>
									<a ui-sref="report">Reports</a> <br>
									<p>View reports at all geographic levels, including kebele, wereda, subcity and city.
									Export, share, and print reports for professional-looking reports, presentations, and graphics. High-resolution images are available.
									And more....<br>
									Click on the topics at left to get started.</p>
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>	