<div ng-controller="opCtrl">
    <nav class="navbar navbar-default navbar-fixed-top navigation" role="navigation" ng-controller="NavController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigarion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Update Vital Events
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id="updatenow" data-toggle="modal" data-target="#updateNowModal" href="" >Update Now</a></li>
                            <li><a id="update" data-toggle="modal" data-target="#updateModal" href=""> <span class="glyphicon glyphicon-cog"></span> Options</a></li>
                        </ul>
                    </li>
                    <li><a ui-sref=".manage"><span class="glyphicon" aria-hidden="true"></span> Manage VED</a></li>
                    <!-- <li><a href=""><span class="glyphicon" aria-hidden="true"></span> Mange Report</a></li> -->
                    <li><a ui-sref=".messages"> Messages</a></li>
                </ul>   
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span class="glyphicon glyphicon-bell"></span> <span class="badge">{{newMC}}</span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span class="glyphicon glyphicon-user"></span> {{user.fullname}}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="" id="changepassword" data-toggle="modal" data-target="#changePasswordModal">Change Password</a></li>
                        <li><a ui-sref="login" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>           
            </div>      
        </div>
    </nav>

    <div ng-controller="updateController">

        <!-- update modal -->
        <div id="updateModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Update Options </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form class="form-horizontal" role="form" name="updateIntervalForm">
                                <div class="form-group">
                                    <label class="control-label col-sm-8">Update time interval is every: {{updateInterval.intv}} {{updateInterval.type}}(s)</label>
                                </div>  
                                <div class="form-group" ng-class="{'has-error': (updateIntervalForm.$invalid  && !updateIntervalForm.interval.$pristine)}">
                                    <label class="control-label col-sm-4" for="interval">New update interval</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="updateInterval.type" ng-options="type.value as type.label for type in updateInterval.types">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" min="1" name="interval" class="form-control" id="interval" ng-model="updateInterval.intv">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-10">
                                        <button type="submit" ng-disabled="updateIntervalForm.$invalid" class="btn btn-primary" ng-click="setUpdateInterval()"> Set</button>
                                    </div>
                                </div>
                            </form>             
                        </div>
                        <div>
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                                <strong><span class="glyphicon glyphicon-bell"></span></strong> Vital Events Database is updated 4 days ago. <a href="" class="alert-link" data-toggle="modal" data-target="#updateNowModal" data-dismiss="modal"> update now </a>
                            </div>          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- update Now modal -->
        <div id="updateNowModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Update Options </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-8">Procced with update from VERSIS</label>
                                </div>  
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-10">
                                        <button type="submit" class="btn btn-primary" ng-click="updateNow()">Yes</button>
                                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- change password modal -->
    <div id="changePasswordModal" class="modal fade" role="dialog" ng-controller="OperatorsChangePasswordController">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Change password </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <form class="form-horizontal" role="form" name="changePasswordForm" ng-submit="changePassword()" novalidate>
                            <div class="form-group" ng-class="{'has-error': (changePasswordForm.oldpwd.$error.required  && !changePasswordForm.oldpwd.$pristine)}">
                                <label class="control-label col-sm-4" for="oldpwd">Old Password </label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="oldpwd" name="oldpwd" ng-model="oldpwd" placeholder="Enter old password" required>
                                    <span ng-show=" changePasswordForm.oldpwd.$error.required && !changePasswordForm.oldpwd.$pristine" class="help-block">Password field can not be empty.</span>
                                   <!--  <span ng-show="oldPwdError" class="help-block">Old password is not correct</span> -->
                                </div>
                            </div>  
                            <div class="form-group" ng-class="{'has-error': changePasswordForm.newpwd1.$error.required  && !changePasswordForm.newpwd1.$pristine}">
                                <label class="control-label col-sm-4" for="newpwd">New Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="newpwd" name="newpwd1" ng-model="newpwd1" placeholder="Enter new password" required>
                                    <span ng-show=" changePasswordForm.newpwd1.$error.required && !changePasswordForm.newpwd1.$pristine" class="help-block">Password field can not be empty.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': changePasswordForm.newpwd2.$error.required  && !changePasswordForm.newpwd2.$pristine}">
                                <label class="control-label col-sm-4" for="repeatpwd">Repeat Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="repeatpwd" name="newpwd2" ng-model="newpwd2" placeholder="Repeat new password" required>
                                    <span ng-show=" changePasswordForm.newpwd2.$error.required && !changePasswordForm.newpwd2.$pristine" class="help-block">Password field can not be empty.</span>
                                    <span ng-show="(newpwd1 !== newpwd2) && (!changePasswordForm.newpwd2.$pristine) && !changePasswordForm.newpwd2.$error.required " class="help-block">Password doesn't match.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid || (newpwd1 !== newpwd2)">Save</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> 
                                </div>
                            </div>
                            <div class="alert alert-dismissible" ng-class="{'alert-danger' : oldPwdError , 'alert-info' : !oldPwdError}" ng-show="showAlert || oldPwdError" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                                <p>{{message}}</p> 
                            </div> 
                        </form>             
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- reply modal -->
    <div id="replyModal" class="modal fade" role="dialog" ng-controller="ReplyController">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Send a reply </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <form class="form-horizontal" ng-submit="sendReply()" role="form" name="replyForm" novalidate>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="to">Reciever email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="to" id="to" ng-model="reply.toEmail" ng-disabled="true" required>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Your email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" id="email" ng-model="reply.fromEmail" ng-disabled="true" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': replyForm.reply.$error.required  && !replyForm.reply.$pristine}">
                                <label class="col-sm-2 control-label" for="reply">Your reply</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="10" name="reply" id="reply" ng-model="reply.comment" placeholder="Enter your reply" required></textarea>
                                    <span ng-show=" replyForm.reply.$error.required  && !replyForm.reply.$pristine" class="help-block">Your reply can not be empty.</span>
                                </div>                      
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-disabled="replyForm.$invalid"><span class="glyphicon glyphicon-send" ></span> Send</button>
                                </div>
                            </div>
                            <div class="alert alert-info alert-dismissible" ng-show="showAlert" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                                <p>{{message}}</p> 
                            </div> 
                        </form>         
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ui-view="op-view"></div>




</div>




