<div id="mainContainer">
    <div class="row">
        <div class="col-sm-3" style="height: 100%;">
            <br>
            <div class="panel-group" id="asideMenu">
                <!--Layer list panel-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle='collapse' data-parent='#asideMenu' href="#layerListCollapse">Layer List</a>
                        </h4>
                    </div>
                    <div id="layerListCollapse" class="panel-collapse collapse in">
                        <div class="list-group">
                            <a id='summary' class="list-group-item" href="#">Summary</a>
                            <a id='population' class="list-group-item" href="#">Population</a>
                            <a id='sex' class="list-group-item" href="#">Sex</a>
                            <a id='disability' class="list-group-item" href="#">Disability</a>
                            <a id='employment' class="list-group-item" href="#">Employment</a>
                        </div>
                    </div>
                </div>
                <!--Custom result menu-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle='collapse' data-parent='#asideMenu' href="#customResultCollapse">Custom Result</a>
                        </h4>
                    </div>
                    <div id="customResultCollapse" class="panel-collapse collapse">
                        <div class="panel-group" id="customMenu">
                            <!--Subcity list panel-->
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#aradaCollapse">Arada</a>
                                    </h4>
                                </div>
                                <div id="aradaCollapse" class="panel-collapse collapse in">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#boleCollapase">Bole</a>
                                    </h4>
                                </div>
                                <div id="boleCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#addisKetemaCollapse">Addis Ketema</a>
                                    </h4>
                                </div>
                                <div id="addisKetemaCollapse" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#nefasCollapase">Nefas Silk Lafto</a>
                                    </h4>
                                </div>
                                <div id="nefasCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#lidetaCollapase">Lideta</a>
                                    </h4>
                                </div>
                                <div id="lidetaCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#kikosCollapase">Kirkos</a>
                                    </h4>
                                </div>
                                <div id="kikosCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#yekaCollapase">Yeka</a>
                                    </h4>
                                </div>
                                <div id="yekaCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#guleleCollapase">Gulele</a>
                                    </h4>
                                </div>
                                <div id="guleleCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#akakiCollapase">Akaki</a>
                                    </h4>
                                </div>
                                <div id="akakiCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle='collapse' data-parent='#customMenu' href="#kolfeCollapase">Kolfe - Keranio</a>
                                    </h4>
                                </div>
                                <div id="kolfeCollapase" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id='summary' class="list-group-item" href="#">Summary</a>
                                        <a id='population' class="list-group-item" href="#">Population</a>
                                        <a id='sex' class="list-group-item" href="#">Sex</a>
                                        <a id='disability' class="list-group-item" href="#">Disability</a>
                                        <a id='employment' class="list-group-item" href="#">Employment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="reportContainer" class="col-sm-8 col-sm-offset-1">
            <div id="reportDiv">
                <div id="reportHeader" class=".page-header">
                    <h3>Please, Select a template from the left panel!</h3>
                </div>
                <div id="reportBody" class="container-fluid claro">
                    <div id="tableDiv" style="width: auto;height: auto; "></div>
                    <div id="pieChartDiv" style="width: auto; height: auto;"></div>
                    <div id="pieChartLegendDiv" style="width: auto; height: auto;"></div><br>
                    <div id="barChartDiv" style="width: auto; height: auto; align-self: center"></div>
                    <div id="pieChartDiv" style="width: auto; height: auto;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.getScript('../app/scripts/map/report.js', function () {
            console.log("report.js loaded");
        });

    });
</script>